header {
    background-color: purple;
    color: black;
    padding: 20px;
    margin: 0 1.5cm;
    text-align: center;
}
section {
    background-color: plum;
    margin: 0 1.5cm;
    font-size: 18px;
    color: black;
    text-align: justify;
}
footer {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: justify;
    margin: 0 1.5cm;
    font-size: 14px;
}
h1{
    color: black;
    padding: 20px;
    text-align: center;
}